/* 確認画面テーブル全体 */
.contact-confirm-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

/* テーブルセル共通 */
.contact-confirm-table th,
.contact-confirm-table td {
    border: 1px solid #e4e3e2;
    padding: 12px 40px;
    text-align: left;
    max-width: 230px;
    word-break: break-word;
}

/* テーブルヘッダー */
.contact-confirm-table th {
    background-color: #9a8a7c;
    color: #ffffff;
    width: 250px;
}

/* テーブル内容 */
.contact-confirm-table td {
    background-color: #ffffff;
    color: #837568;
    font-size: 16px;
}

/* ボタン共通 */
.contact-form__button,
.contact-form__button--link {
    font-size: 16px;
    cursor: pointer;
    border: none;
    text-decoration: none;
    padding: 0.7rem 1.5rem;
}

/* 送信ボタン */
.contact-form__button {
    background-color: #9a8a7c;
    color: #fff;
    min-width: 120px;
}

.contact-form__button:hover {
    background-color: #9a8a7c;
}

/* 修正ボタン（リンク風） */
.contact-form__button--link {
    background: none;
    color: #82756a;
    text-decoration: underline;
    min-width: auto;
    font-size: 20px;
    padding: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.contact-form__button--link:hover,
.contact-form__button--link:focus {
    background: none;
    color: #82756a;
    text-decoration: underline;
}

/* ボタン配置 */
.contact-form__buttons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
    padding: 20px 0;
}